<!--<h2>{{ item.name | uppercase }} Details</h2>
<div><span>id: </span>{{item.id}}</div>
<div><span>name: </span>{{item.name}}</div>
<div>
  <label>Item Name:
    <input [(ngModel)]="item.name" placeholder="name">
  </label>
</div>-->

<div *ngIf="selectedItem ; else othr_disp">
  <h2>{{ selectedItem.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedItem.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedItem.name" placeholder="name">
    </label>
  </div>
</div>

<ng-template #othr_disp><h2>Empty List</h2></ng-template>


<div>
  <ul class="items">
    <li *ngFor="let item of items , let i = index" >
      {{i}}<span class="badge">{{item.id}}</span> {{item.name}}
      <button (click)="onSelect(item)">Edit</button>
      <button (click)="onDelete(i)">Delete</button>
    </li>
  </ul>


   Add Item : 
    <input [(ngModel)] = "addItem.id" placeholder = "id">
    <input [(ngModel)] = "addItem.name" placeholder = "name">
  
  <button (click)="onAdd()">Add</button>
</div>