<!--<h2>{{ item.name | uppercase }} Details</h2>
<div><span>id: </span>{{item.id}}</div>
<div><span>name: </span>{{item.name}}</div>
<div>
  <label>Item Name:
    <input [(ngModel)]="item.name" placeholder="name">
  </label>
</div>-->
<div align="center">
    
  
    Add Item : 
    <h2>   {{errorMsg}}    </h2>
     <input [(ngModel)] = "addItem.name" placeholder = "name" type="text" >
     <input [(ngModel)] = "addItem.price" placeholder = "price" type="number" >
   
     <button class="btn btn-success" (click)="onAdd()">Add</button>
  
   <hr>
   <!--<router-outlet></router-outlet>-->
  <table id = "to_do_tab" class="table">
    <thead>
      <td>Sr.No.</td>
      <td>Name</td>
      <td>Price</td>
      <td>Operation</td>
    </thead>
    <tr *ngFor="let item of items , let i = index">
      <td>
          {{i+1}}
      </td>
      <td>
          {{item.name}}
      </td>
      <td>
          {{item.price}}
      </td>
      <td>
         
          <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
      </td>
    </tr>
  
  </table>
  
  </div>
<!-- <button (click)="onSelect(item)">Edit</button>
      &nbsp; &nbsp; &nbsp; &nbsp;-->
 <!-- <ol class="items">
      <li  >
        <span class="badge"></span> 
       
        
      </li>
    </ol>-->

<!--<div *ngIf="selectedItem ; else othr_disp">-->
<!--<div *ngIf="selectedItem">
  <h2>{{ selectedItem.name | uppercase }} Details</h2>
  
  <div>
    <label>name:
      <input [(ngModel)]="selectedItem.name" placeholder="name" type="text">
    </label>
    <label>
        <input [(ngModel)]="selectedItem.price" placeholder="price" type="number">
    </label>
  </div>
</div>

<ng-template #othr_disp><h2>No Item is selected to Edit</h2></ng-template>


-->

<!--{{items}}-->